body {
    background: linear-gradient(70deg, rgb(0, 0, 0), rgb(255, 217, 2));
}

/* Texto */
.margin {
    margin-bottom: 30px;
}
.pindex, .paboutme {
    font-size: 25px;
    margin: 10px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    color: gold;
    margin: 5px;
}
h2 {
    margin: 10px;
    color: rgb(88, 164, 235);
}

/* Navbar */
.close {
    justify-content: right !important;
}
.offcanvas {
    background-color: rgb(21, 27, 31) !important;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fcda18;
  }
  
  .navbar .logo img {
    width: 50px;
    height: 50px;
    transition: transform 0.6s;
  }
  
  .navbar .logo img:hover {
    transform: scale(1.1); /* Animación al pasar el cursor */
  }
  
  .navbar .menu a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
    font-size: 17px;
    transition: color 0.6s;
  }
  
  .navbar .menu a:hover {
    color: #6e6e6e; /* Cambia el color del texto al pasar el cursor */
    transform: scale(1.5); /* Animación al pasar el cursor */
  }
  
.container-fluid {
    height: 60px;
}

/* Imagenes del índice */
.img-index {
    max-height: 600px;
    border-radius: 20px;
    border-color: black;
}

/* Navbar-IMG/TXT */
.red-icons {
    right: 10px;
}
.img-right {
    position: fixed;
}
.text-nav {
    font-family: 'Taviraj';
    font-size: 22px;
}

/* Body Color */
.color {
    background-color: rgb(21, 27, 31);
}

/* Fondo del cuerpo */
.bg-body {
    background-color: rgb(21, 27, 31) !important;
}

/* Estilos responsivos */
@media (max-width: 991px) {
    .text-nav {
        left: 80px;
    }
}
@media (max-width: 768px) {
    .carousel-padding {
        margin-top: 50px;
        max-height: 600px;
        max-width: 600px;
    }
    .form-padding {
        margin-top: 50px;
        max-height: 600px;
        max-width: 600px;
        width: 300px;
        height: 340px;
    }
    .imgcarousel {
        max-height: 250px;
        max-width: 1000px;
    }
}
@media (max-width: 425px) {
    .img-index {
        max-height: 400px;
    }
}
@media (max-width: 375px) {
    .red-icons {
        display: none !important;
    }
    .text-nav {
        left: 100px;
    }
}

/* Efecto de zoom en imágenes */
.contenedor {
    overflow: hidden;
    display: inline-block;
}
.contenedor:hover .imagen {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

.container-card{
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}
.title-cards{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:#fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}


.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenido-card{
    padding: 15px;
    text-align: center;
}
.card .contenido-card h3{
    margin-bottom: 15px;
    color: #7a7a7a;
}
.card .contenido-card p{
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}
.card .contenido-card a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #ffe600;
    border: 1px solid #ffe600;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}
.card .contenido-card a:hover{
    background: #ffda08;
    color: #000000;
}


.flex-container {
  flex-wrap: wrap;
}
